{% extends "base.html" %}

{% block title %}Terms & Conditions{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Términos de Uso del Sitio Web</h1>
    
    <h2>Condiciones de Uso del Sitio Web Local de Hapag-Lloyd México</h2>

    <h3>1. Uso General</h3>

    <p>El uso y acceso a este sitio web local de Hapag-Lloyd México está sujeto a los siguientes términos y condiciones. A menos que se acuerde expresamente por escrito, Hapag-Lloyd México no reconoce ningún otro término o condición distinta a la convenida con el contrato celebrado con el proveedor de transporte terrestre en territorio mexicano.</p>

    <p>El propósito de este sitio web de Hapag-Lloyd México es de uso exclusivo para la validación de información operativa contenida en las facturas que emiten los proveedores de transporte terrestres en territorio nacional.</p>

    <p>El uso del sitio web local no implica una autorización de las facturas (CFDI y/o CFDI con CCP) ya que el proveedor debe dar cumplimiento a la normatividad aplicable.</p>

    <p>El uso del sitio web local de Hapag-Lloyd México no sustituye o abroga las obligaciones contenidas en el contrato celebrado entre Hapag-Lloyd México y el proveedor de transporte terrestre respecto a obligaciones contenidas en el mismo y el código de conducta que forma parte del contrato.</p>

    <p>Hapag-Lloyd México se reserva el derecho de rechazar facturas en caso de incumplimientos fiscales, legales, laborales y comerciales en las facturas emitidas por los proveedores de transporte terrestre en territorio mexicano.</p>

    <p>Los puntos que serán revisados son los siguientes:</p>

    <ul>
        <li>Procurement / Que la WO sea de un movimiento terminado y ésta ya exista en SAP.</li>
        <li>Procurement / Que el monto de la factura coincida con la tarifa de la WO.</li>
        <li>Procurement / Que el contenedor mencionado en la factura sea el mismo registrado en la WO.</li>
        <li>AP / Revisión de la fecha de timbrado.</li>
        <li>AP / Versión del CFDI 4.0.</li>
        <li>AP / En caso de refacturación, que la factura contenga el UUID relacionado.</li>
    </ul>

    <h3>2. Uso y Acceso al Sitio Web</h3>

    <p>Al acceder a este sitio web, usted acepta que solo puede utilizar el sitio web para los fines para los que fue creado, es decir, para cargar y solicitar la validación de campos específicos de las facturas de transporte terrestres (CFDI y/o CFDI con CCP) de movimientos realizados en territorio mexicano por medio de los archivos con extensión XML y PDF exclusivamente. Dichos CFDI y/o CFDI con CCP pueden ser rechazados en caso de incumplimiento de las obligaciones fiscales aplicables.</p>

    <p>El resultado de la validación de los campos específicos de las facturas (CFDI y/o CFDI con CCP) será enviado al correo electrónico que tiene registrado con Hapag-Lloyd México, y cualquier duda u observación deberá ser tratada directamente con su ejecutivo de transporte terrestre asignado.</p>

    <p>El proveedor tiene prohibido utilizar el sitio web para cualquier propósito que no sea aquel para el cual fue creado ("Usos prohibidos").</p>

    <p>Los usos prohibidos incluyen, entre otros, los siguientes:</p>

    <ul>
        <li>Uso del sitio web de una manera que viole las leyes aplicables y/o los derechos (incluidos, entre otros, los derechos de propiedad intelectual) de Hapag-Lloyd México u otros.</li>
        <li>Cargar, transferir y/o difundir archivos o información que sean capaces de dañar o comprometer el software o hardware de Hapag-Lloyd México u otros.</li>
        <li>Implementación o intento de implementación de software u otros procesos que interrumpan el funcionamiento adecuado del sitio web o interrumpan otras actividades realizadas en conexión con el sitio web.</li>
        <li>Interrumpir la conexión del sitio web al servidor y/o a la red, o ignorar los requisitos, procesos, principios reconocidos y protocolos de las redes a las que está conectado el sitio web.</li>
        <li>Intentar descifrar, desensamblar, descompilar o aplicar ingeniería inversa al software que constituye el sitio web o partes del sitio web.</li>
        <li>Reproducir, copiar, vender o explotar comercialmente de otro modo contenido legalmente protegido del sitio web o partes de este sin obtener primero el permiso expreso de Hapag-Lloyd México.</li>
        <li>Interrumpir o de cualquier manera perjudicar la conexión del sitio web con el cliente, host o red utilizando medios tales como, entre otros, virus, sobrecarga, inundación, spam, bombardeo de correo o fallas.</li>
    </ul>

    <p>Además de cualquier otro derecho que pueda tener según las leyes aplicables, Hapag-Lloyd México se reserva el derecho, a su entera discreción, de bloquear su acceso a este sitio web de forma permanente o temporal si realiza algún Uso prohibido.</p>

    <h3>3. Derechos de Autor</h3>

    <p>Todos los derechos de autor y otros derechos de propiedad intelectual sobre el diseño y el contenido de este sitio web son y seguirán siendo propiedad de Hapag-Lloyd México.</p>

    <h3>4. Uso de Datos Personales</h3>

    <p>Declaro que toda la información que proporcione en la plataforma y la contenida en las facturas con CFDI o CFDI con CCP, y que constituyan Datos Personales en Posesión de Sujetos Obligados, se regirá conforme a nuestro aviso de privacidad de la página web, al cual pueden acceder a través de la página <a href="http://www.hapag-lloyd.com">http://www.hapag-lloyd.com</a> o directamente ante la Comisión de Protección de Datos Personales de la Compañía ubicado en el domicilio de HAPAG-LLOYD MEXICO, S.A. DE C.V. Asimismo, manifiesto que la información o datos personales que mi representada reciba serán tratados de conformidad con la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados.</p>

    <h3>5. Cumplimiento Legal</h3>
    
    <p>El uso de este sitio web y cualquier disputa que surja de dicho uso están sujetos a las leyes de México. Cualquier acción legal o procedimiento relacionado con el uso de este sitio web estará bajo la jurisdicción exclusiva de los tribunales federales o estatales ubicados en el Distrito Federal, México.</p>
    
    <h3>6. Modificaciones a los Términos y Condiciones</h3>
    
    <p>Hapag-Lloyd México se reserva el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso. Las modificaciones entrarán en vigor inmediatamente después de su publicación en este sitio web. Es su responsabilidad revisar periódicamente estos términos y condiciones para estar al tanto de las actualizaciones.</p>
    
    <p>Si continúa utilizando este sitio web después de que se realicen cambios en estos términos y condiciones, se considerará que ha aceptado las modificaciones.</p>
    
    <h3>7. Contacto</h3>
    
    <p>Si tiene alguna pregunta o inquietud sobre estos términos y condiciones, puede ponerse en contacto con nosotros a través de la dirección de correo electrónico <a href="mailto:hapaginfo@example.com">hapaginfo@example.com</a>.</p>
</div>

{% endblock %}
